<% content_for :title, 'Perfil' %>

<div class="uk-flex uk-margin-top">
  <%= image_tag "avatar.svg", size: '80' %>
  <div class="uk-margin-left">
    <div class="uk-text-lead"><%= @user.name %></div>
    <div>
      <h6 class="uk-margin-remove-bottom">Ahorro del mes</h6>
      <span class="<%= user_over_limit?(@total_expense, @total_income) %>">
        <%= number_to_currency(@total_income - @total_expense) %>
      </span>
    </div>
  </div>
</div>

<hr>

<div class="uk-card uk-card-default uk-card-body">
  <h5 class="uk-card-title">Tu presupuesto</h5>
  <div class="uk-margin uk-margin-left uk-margin-right">
    <% @expenses_by_category.each do |category| %>
      <div class="uk-flex uk-flex-row uk-margin-small-bottom">
        <div class="uk-margin-small-right" style="flex-basis: 10%;">
          <%= inline_svg category_svg(category.name), style: "min-width: 20px; max-width: 20px" %>
        </div>
        <div class="uk-flex uk-flex-middle uk-flex-auto">
          <div class="progress">
            <div
              class="progress-bar <%= user_over_limit?(category.total, goal(category.name).amount) %>"
              role="progressbar"
              style="width: <%= progress_percentage(category.total, goal(category.name).amount) %>%;"
              aria-valuenow="<%= category.total %>"
              aria-valuemin="0"
              aria-valuemax="<%= goal(category.name).amount %>">
            </div>
          </div>
          <!-- <progress
            class="uk-progress uk-progress-danger uk-margin-small-right uk-margin-remove-top uk-margin-remove-bottom"
            value="<%#= category.total %>"
            max="<%#= goal(category.name).amount %>">
          </progress> -->
        </div>
        <div style="flex-basis: 18%;" class="uk-text-right uk-margin-small-left <%= user_over_limit?(category.total, goal(category.name).amount) %>">
          <%= progress_percentage(category.total, goal(category.name).amount) %>%
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="uk-card uk-card-default uk-card-small">
  <div class="uk-flex uk-flex-between uk-text-center uk-card-body">
    <div>
      <h3 class="uk-margin-remove-bottom uk-text-success">
        <%= number_to_currency @total_income %>
      </h3>
      <span>Ingresos</span>
    </div>
    <div>
      <h3 class="uk-margin-remove-bottom uk-text-danger">
        <%= number_to_currency @total_expense %>
      </h3>
      <span>Gastos</span>
    </div>
  </div>
</div>

<div class="uk-card uk-card-default uk-card-body">
  <h3 class="uk-margin-small">Tus Movimientos</h3>
  <ul class="uk-list uk-list-divider">
    <% @transactions.first(20).each do |transaction| %>
      <li class="uk-flex uk-flex-between">
        <div class="uk-flex-auto uk-flex uk-flex-column">
          <span><%= transaction.description.first(10) %></span>
          <span class="uk-text-meta"><%= transaction.transaction_date.to_s.first(19) %></span>
        </div>
        <div class="uk-flex-auto uk-text-right <%= transaction.class.name == 'Income' ? 'uk-text-success' : 'uk-text-danger' %>">
          <%= transaction.class.name == 'Income' ? '+' : '-' %>
          <%= number_to_currency transaction.amount %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
