<% content_for :title, 'Profile' %>

<div class="uk-card uk-card-default uk-card-body uk-margin-small-top">
  <div class="uk-flex">
    <div class="">
      <%= image_tag "girl1.jpg", style: "border-radius: 50%; min-height: 80px; min-width: 80px; max-height: 80px; max-width: 80px" %>
    </div>
    <div class="uk-margin-left">
      <div class="uk-text-lead"><%= @user.name %></div>
      <!-- <div class="uk-flex">
        <%#= inline_svg "icons/star.svg", style: "min-width: 20px; max-width: 20px; max-height: 20px" %>
        <span class="">4.7</span>
      </div> -->
      <span class="uk-text-primary"><%= @user.bank_account.name %></span>
      <p class="uk-margin-remove-top uk-margin-remove-bottom">
        <%= @user.bank_account.account_number.to_s.first(3) %>-<%= @user.bank_account.account_number.to_s.last(7) %>
       </p>
    </div>
  </div>
  <hr>

  <div class="uk-margin uk-margin-left uk-margin-right">
    <% @expenses_by_category.each do |category| %>
      <div class="uk-flex uk-flex-row uk-margin-small-bottom">
        <div class="uk-margin-small-right">
          <%= inline_svg category_svg(category.name), style: "min-width: 20px; max-width: 20px" %>
        </div>
        <div class="uk-flex uk-flex-middle uk-flex-auto">
          <progress
            class="uk-progress uk-margin-small-right uk-margin-remove-top uk-margin-remove-bottom"
            value="<%= category.total %>"
            max="<%= goal(category.name).amount %>"
          </progress>
        </div>
        <span><%= progress_percentage(category.total, goal(category.name).amount)%>%</span>
      </div>
    <% end %>
  </div>

    <div class="uk-card uk-card-default uk-card-small">
      <div class="uk-flex uk-flex-between uk-text-center uk-card-body">
        <div class="">
          <h2 class="uk-margin-remove-bottom uk-text-success">$<%= @total_income %></h2>
          <span>Income</span>
        </div>
        <div class="">
          <h2 class="uk-margin-remove-bottom uk-text-danger">$<%= @total_expense %></h2>
          <span>Expenses</span>
        </div>
      </div>
    </div>

  <ul class="uk-list uk-list-divider">
    <% @transactions.first(20).each do |transaction| %>
      <li class="uk-flex uk-flex-between">
        <div class="uk-flex-auto uk-flex uk-flex-column">
          <span><%= transaction.description.first(10) %></span>
          <span class="uk-text-small"><%= transaction.transaction_date.to_s.first(19) %></span>
        </div>
        <div class="uk-flex-auto uk-text-right <%= transaction.class.name == 'Income' ? 'uk-text-success' : 'uk-text-danger' %>">
          <%= transaction.class.name == 'Income' ? '+' : '-' %>
          <%= transaction.amount%> MXN
        </div>
      </li>
    <% end %>
  </ul>
</div>
