<%= form_tag user_goals_path do %>
  <% @goal_list.each do |goal| %>
    <%= fields_for 'goal_list[]', goal do |p| %>

      <div class="field">
        <%= p.label 'Category Name:' %>
        <%= p.number_field :amount %>
      </div>

    <% end %>
  <% end %>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
